*.iml
*.apk
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/modules.xml

.DS_Store
/build
/captures
.externalNativeBuild
/.idea/markdown-navigator.xml
/.idea/caches/gradle_models.ser
/.idea/caches/build_file_checksums.ser
/.idea/encodings.xml
/.idea/caches/
